<h1>#{title}</h1>
<form method="POST" action="/new">
  <label for="author">Author: </label>
  <input type="text" id="author" name="author">
  <br><br>
  <label for="msg">Message: </label>
  <input type="text" id="msg" name="msg">
  <br><br>
  <input type="submit" value="Submit">
</form>
